header {
    width: 100%; // 수정해야함
    max-width: 1680px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 1.47em 0em 1.47em 0em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 120px;
            height: auto;
            margin-left: 0.5em;

            img {
                width: 100%;
                height: auto;
                display: flex;
            }
        }

        .logout_wrap {
            margin-right: 1em;

            p {
                font-size: 1em;
                margin-right: 0.2em;
            }
        }
    }
}
