$Blue: #3c9df6;
$Blue2: #1f6fbb;
$TalbeLine: #c6c9cc;

@mixin CON_TITLE {
    font-size: 18px;
    font-weight: bold;
    margin-left: 0.2em;
}

.select-user {
    width: 100%;

    .con-title {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5em;
        font-size: 13px;
    }
    .text {
        width: 100%;

        p {
            margin-top: 20px;
            font-weight: bold;
            font-size: 15px;
        }
    }

    .input-username {
        display: flex;
        margin-top: 20px;
        justify-content: space-between;
        input {
            height: 2.4em;
            width: 75%;
            padding: 5px 10px 5px 10px;
            border: 1px solid $Blue;
            border-radius: 5px;
        }

        #btn {
            float: right;
            background: $Blue;
            border: none;
            color: white;
            font-size: 16px;
            padding: 3px 28px 3px 28px;
            border-radius: 5px;
            &:hover {
                background: $Blue2;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
    .user-content {
        border: 1px solid #c6c9cc;
        width: 100%;
        height: 323px;
        margin-top: 20px;

        .default_position{
            display: flex;
            height: 90%;
            align-items: center;
            justify-content: center;
          }
        table {
            margin: 0.5em;
            border-collapse: separate;
            border-spacing: 0;
        }
        .message {
            font-weight: 100px;
            color: #b9b9b9;
            justify-content: center;
            margin-top: 80px;
            text-align: center;
        }
        th,
        td {
            padding: 2px 5px;
            text-align: center;

            &:first-child {
                border-left: 1px solid $TalbeLine;
            }
        }
        th {
            background: #f0f0f0;
            border-right: 1px solid $TalbeLine;
            border-bottom: 1px solid $TalbeLine;
            border-top: 1px solid $TalbeLine;
            text-align: center;

            &:first-child {
                border-left: 1px solid $TalbeLine;
            }
        }
        td {
            border-right: 1px solid $TalbeLine;
            border-bottom: 1px solid $TalbeLine;

            &:first-child {
                border-left: 1px solid $TalbeLine;
            }
        }
    }

    .footer {
        display: flex;
        justify-content: center;

        .btn2 {
            float: right;
            background: $Blue;
            border: none;
            color: white;
            font-size: 18px;
            padding: 5px 22px 5px 22px;
            margin: 1em 10px 0 3px;
            border-radius: 5px;

            &:hover {
                background: $Blue2;
                color: #fff;
                transition: 0.5s;
            }
        }
    }
}
